/* Alex Zheng Qiuyang */
/* generic setting */ /* #region */
body{
    margin: 0;
}

.main{
    min-height: 53vh;
}

.web-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-header img{
    width: 7%;
}

/* set navigation bar */
.nav{
    padding: 13px 10px;
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.nav a{
    padding: 5px 25px;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    color: #000;
}

.arrow:after {
    content: " ";
    display: inline-block;
    height: 7px;
    width: 7px;
    border-width: 2px 2px 0 0;
    border-color: #31AAF2;
    border-style: solid;
    transform: matrix(0.71, 0.71, 0.71, -0.71, 10, 5);
    position: absolute;
}

.plat{
    display: none;
}

.plat a{
    font-weight: normal;
    font-size: smaller;
}

/* nav animation when hover */
.nav a:hover {
    text-decoration-line: underline;
}
.nav li:hover .plat{
    display: grid;
    box-shadow: #949496  0 1px 0.25rem 0;
    position: absolute;
    list-style-type: "";
    background-color: white;
    padding: 10px 0;
    text-align: left;
    margin-top: 5px;
    gap: 10px;

}
.nav li:hover .arrow:after{
    transform: matrix(0.71, -0.71, 0.71, 0.71, 10, 10);
}

/* contact */
.contactInfo{
    background-color: #2B7BE0;
    clear: both;
    color: white;
    padding: 10px 10vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: medium;
    align-items: center;
}

.contact_title{
    text-align: center;
}

.contact_title p{
    margin-bottom: 0;
}

.contact_detail{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.terms{
    font-size: small;
    display: flex;
    background-color: #2B7BE0;
    justify-content: center;
    color: white;
    border-top: white 0.5px solid;
}

.terms p{
    margin: 5px 5vw;
}

/* footer */
footer{
    background-color: gray;
    text-align: center;
    padding: 5px;
    font-size: medium;
}
/* #endregion */

/* global font setting */ /* #region */
.title{
    font-weight: bold;
    text-align: center;
}

.space{
    text-indent:2em;
}

@media screen and (min-width: 400px){
    body{
        font-size: small;
    }
}

@media screen and (min-width: 750px){
    body{
        font-size: medium;
    }
}

@media screen and (min-width: 1000px){
    body{
        font-size: large;
    }
}
/* #endregion */

/* Home */ /* #region */
.hero{
    margin: 0 20px;
}

.hero img{
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 50vh;
    position: relative;
}

.hero .title{
    color: white;
    background-color: #2B7BE0;
    padding: 20px;
    width: 40%;
    margin: -5vh auto 0;
    font-size: larger;
}

.hero + p{
    text-align: center;
    margin: 20px 10vw;
    font-size: larger;
}

.courses-intro,
.kits-intro{
    display: flex;
    margin: 0;
}

.textIntro {
    width: 60%;;
    padding: 20px;
    margin: auto;
}

.kits-intro img,
.courses-intro img{
    width: 20%;
    margin: 0 auto;
}
.courses-intro{
    background-color: rgba(6, 176, 248, 0.5);
}

.kits-intro{
    background-color: rgba(59, 41, 191, 0.5);
}
/* #endregion */

/* About Us */ /* #region */
.about-intro{
    margin: 0 auto 10px;
    width: 90%;
}

.value{
    display: flex;
    margin: 10px auto 20px;
    width: 90%;
}

.value ul{
    border-left: #2B7BE0 4px solid;
    width: 40%;
    margin-right: 15vw;
}

.value .title{
    text-align: left;
    font-size: larger;
    margin-left: -30px;
}

.value li{
    margin: 15px 0;
}

.value img{
    width: 40%;
    object-fit: contain;
}

.join{
    text-align: center;
}
/* #endregion */

/* Coursesware & Project */ /* #region */
.course,
.kit,
.project,
.courseware{
    display: flex;
    flex-wrap: wrap; /* wrap out-of-scope elements */
    margin: 0 20px;
    justify-content: center;
}

.card{
    border: #31AAF2 3px solid;
    padding: 10px;
    margin: 10px;
    width: 30%;
}

.kit .card{
    border-color: #3B29BF;
}

.piece{
    font-size: medium;
}

.price{
    text-align: center;
}

.price a{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.price a:hover{
    text-decoration-line: underline;
}

.course + img{
    width: 100%;
    height: 30vh;
    object-fit: cover; /*crop img*/ 
    object-position: 0 -30em; /* displace img in the desired position */
}

.project-intro{
    margin: 0 auto;
    width: 80%;
}

.project-img{
    display: flex;
    justify-content: center;
}

.project-img img{
    height: 35vh;
}
/* #endregion */

/* Enquiry */ /* #region */
/*form*//* #region */
.enquiryForm{
    border: #31AAF2 3px solid;
    padding: 10px 20px;
    margin: 0 auto 30px;
    width: 70%;
}

.Q label{
    display: block;
    margin: 10px;
}

.Q input,
.Q select,
.Q textarea{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    /* darken the color when click */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

.half {
    width: 40%;
    display: inline-block;
    margin-left: 3.5vw;
}

.enquiryForm .half:nth-child(odd){
    margin-left: 6.5vw;
}

.full { 
    width: 90%;
    margin: auto;
}

input[type=submit],
.courseware button,
.cart button{
    display: block;
    width: 10%;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    background-color: #31AAF2;
    border: 1px solid #31AAF2;
    margin: 10px auto 5px;
    color: white;
}

input[type=submit]:hover,
.courseware button:hover,
.cart button:hover{
    background-color: #2B7BE0;
    cursor: pointer;
}
/* #endregion */

/* todo list */ /* #region */
.todo{
    margin: 20px auto;
    width: 80%;
}
#todoHeader {
    background-color: #31AAF2;
    padding: 1px 40px 30px;
    color: white;
    text-align: center;
}

#todoHeader .title{
    font-size: large;
}

/* clear floats after the header */
#todoHeader:after {
    content: "";
    display: table;
    clear: both;
}

#todoHeader input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 10%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

#todoList {
    margin: 0;
    padding: 0;
}

#todoList li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: medium;
    transition: 0.2s;
}

/* darker background-color on hover */
#todoList li:hover {
    background: #ddd;
}

/* when clicked on, add a background color and strike out text */
#todoList li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* add a "checked" mark when clicked on */
#todoList li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}
/* #endregion */
/* #endregion */

/* Login & Sign Up*/ /* #region */
.form{
    width: 30%;
    background-color: gainsboro;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    margin: 58px auto;
    padding: 1px 30px 20px;
    display: grid;
    align-items: center;
}

.input label{
    display: block;
    font-size: medium;
}

.input input{
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    box-sizing: border-box;
}

.input a{
    font-size: small;
}

.input + button{
    width: 17%;
    margin: 10px auto 5px;
    padding: 0.5rem 0.5rem;
    font-size: 0.75rem;
}
/* #endregion */

/* Shopping */ /* #region */
.courseware .card{
    width: 20%;
    text-align: center;
}

/* distinguish between courses and resources */
.courseware .card:nth-last-child(-n+3){
    border-color: #3B29BF;
}

.courseware button,
#items button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    width: unset;
}

#items li{
    display: flex;
    list-style-type: none;
    border: #31AAF2 1px solid;
    align-items: center;
    padding: 5px 10px;
    font-size: medium;
}

#items button{
    margin: 5px 5px 5px auto;
}

.cart{
    text-align: center;
    width: 90%;
    margin: 10px auto;
    border-top: black 3px solid;
}

.cart button{
    display: inline-block;
    margin: 10px 20px;
}
/* #endregion */


